
#add-item-container {
    margin: 1%;
}

#to-add-item {
    width: 50%;
    margin: 1% auto 0;
}

#add-item {
    width: 10%;
    margin: 1% auto;
}

#options-container {
    margin: 1%;
}

#todo-container {
    margin: 0 auto;  
    width: 50%;
}




h1 {
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    box-sizing: border-box;
}

#todo-container li {
    list-style: decimal inside;
    padding: 1% 2% 1%;
   
    border-bottom: 1px solid gray;
}

li:hover {
    background: lightgray;
}

#saved-lists {
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 25%;
    width: 50%;
    border: 5px solid black;
    background: white;
    box-shadow: 5px 5px 10px black;

}