
#add-item-container {
    margin: 1%;
}

#to-add-item {
    width: 50%;
    margin: 1% auto 0;
}

#add-item {
    width: 10%;
    margin: 1% auto;
}

#options-container {
    margin: 1%;
}

#todo-container {
    float: left;  
}

#done-container {
    float: right;
}

.list-container {
    width: 50%;    
}

h1 {
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    box-sizing: border-box;
}

li {
    list-style: decimal inside;
    padding-left: 2%;
    margin-top: 1%;
}

li:hover {
    background: lightgray;
}